*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
  margin:0 auto;
  width:80%;
}

/* header */
header{
    width:100%;
    height:80px;
    background-color: #d3d3d3;
    line-height: 5em;
    float:left;
    overflow:hidden;
}

.wed{
  width:100px;
  height:80px;
}

h1{
    float:left;
    /* background-color: olive; */
    margin-right:70px;
    margin-left:200px;
    width:150px;
    text-align:center;
}
.contact{
    background-color:black;
    width:200px;
    float:right;
    color:white;
    text-align:center;
}
nav {
   
    float:left;
}
  ul {
    display: flex;
  }
  li {
    list-style: none;
  }
  a {
    display: block;
    text-decoration: none;
    color: black;
    margin-right: 35px;
  }
  /* main */
  .main-picture{
    width:100%;
    height:800px;
    /* overflow: hidden; */
  }

  .visual{
    width:100%;
    height:800px;
  }

  .main{
    width:100%;
    height:3700px;
    background-color:#f0f0f0;
    /* z-index: 1; */
    overflow:hidden;
    
  }
  .news{
    width:100%;
    height:400px;
    z-index: 100;
    margin-left:200px;
    /* background-color:yellow; */
  }

  .news-word{
    font:bold;
    font-size:40px;
  }
  .news-box{
    /* background-color:blue; */
    width:400px;
    height:150px;
    margin-top:150px;
    margin-left:150px;
  }
  
  .title-box{
    width:1000px;
    height:100px;
    /* background-color:cadetblue; */
    margin-left:150px;
  }
  .title-left{
    width:333px;
    height:100px;
    /* background-color:red; */
    float:left;
   
    border-right:solid 1px black;
  }
  .title-middle{
    width:333px;
    height:100px;
    /* background-color:green; */
    margin-left:10px;
    float:left;
    border-right:solid 1px black;
  }
  .title-right{
    width:300px;
    height:100px;
    margin-left:10px;
    /* background-color:pink; */
    float:left;
  }

  .news-line{
    width:100px;
    height:60px;
    /* background-color:aquamarine; */
    border-bottom:solid 1px black;
  }
 
.news-right{
  background-color:black;
  width:50px;
  height:20px;
  color:white;
  float:left;
}
.press-right{
  background-color:black;
  width:50px;
  height:20px;
  color:white;
  float:left;
}
.news-date{
  /* background-color:pink; */
  width:100px;
  height:20px;
  margin-right:10px;

  float:left;
}


.about-picture{
  width:1000px;
  height:600px;
  float:left;
}

.about-word{
  font:bold;
  font-size:40px;
}

.about-right{
  
  width:400px;
  height:400px;
  /* background-color:green; */

  position:  absolute;        /* 要素の配置方法を指定 */
  
        
  left:  1200px;                /* 左からの位置指定 */
  top: 500px;    
 
}

.about-text{
  width:100%;
  height:200px;
  /* background-color:brown; */
  margin-top:30px;
}

.about-box{
  width:100%;
  height:600px;
  /* background-color:green; */
  position: relative;
}

.business-word{
  font:bold;
  font-size:40px;
}
.business-left{
  width:400px;
  height:150px;
  
  /* background-color:aqua; */
  float:left;
  position:  absolute;        /* 要素の配置方法を指定 */
  
        
  left:  350px;                /* 左からの位置指定 */
  top: 350px;   
}

.clear{
  clear:both;
}

.business-card{
  width:450px;
  height:320px;
  /* background-color:blueviolet; */
  position:  absolute;        /* 要素の配置方法を指定 */
  
        
  left:  350px;                /* 左からの位置指定 */
  top: 600px; 
}

.business-card02{
  width:450px;
  height:320px;
  /* background-color:blueviolet; */
  position:  absolute;        /* 要素の配置方法を指定 */
  
        
  left:  350px;                /* 左からの位置指定 */
  top: 1000px; 
}

.business-card03{
  width:450px;
  height:320px;
  /* background-color:blueviolet; */
  position:  absolute;        /* 要素の配置方法を指定 */
  
        
  left:  850px;                /* 左からの位置指定 */
  top: 500px; 
}

.business-card04{
  width:450px;
  height:320px;
  /* background-color:blueviolet; */
  position:  absolute;        /* 要素の配置方法を指定 */
  
        
  left:  850px;                 /* 左からの位置指定 */
  top: 900px; 
}


.business-picture{
  width:450px;
  height:300px;
}

.business-box{
  width:100%;
  height:1200px;
  /* background-color:yellow; */
  position: relative;
}

.company-box{
  width:100%;
  height:1000px;
  position: relative;
  /* background-color:olive; */
}
.company-left{
  width:600px;
  height:700px;
  
  background-color:white;
  padding-left:100px;
  padding-top:100px;
  
  position:  absolute;      
  
        
  left:  300px;              
  top: 300px;   
}

.company-word{
  font:bold;
  font-size:40px;
}

.company-table{
  position:absolute;
  top:600px;
  left:400px;
}

.company-table th{
  padding:5px;
}
.company-table td{
  padding:5px;
}
.company-right{
  position: absolute;
  width:600px;
  height:700px;
  top:400px;
  left:850px;
}

.company-pic{
  position: absolute;
  width:600px;
  height:400px;
}
  /* footer */
  footer{
    width:100%;
    height:300px;
    /* background-color:aqua; */
    bottom:0;
    /* position:absolute; */
  }
  .footer-right{
    width:300px;
    height:130px;
    /* background-color:chocolate; */
    float:right;
    margin-right:300px;
    margin-top:50px;
  }

  .footer-left{
    width:300px;
    height:220px;
    /* background-color:green; */
    margin-left:300px;
    margin-top:70px; 
    float:left;
  }
  .wed-between{
    margin-bottom:100px;
  }

.wrapper{
    width:100%;
    min-height: 100vh;
    position: relative;/*←相対位置*/
  
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}