.picture{
    margin:0 auto;
    width:540px;
    height:420px;
    background-color:grey;
}
.container{
    margin:0 auto;
    width:80%;
}
#v_left{
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:green;
    text-align: center;
    color:white;
    float:left;
    cursor: pointer;
}

#v_right{
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:green;
    text-align: center;
    color:white;
    float:right;
    cursor: pointer;
}
.btn_center{
    width:100px;
    height:20px;
    
    margin:0 auto;
}